### VITALS ###
NODE_PORT=2222
SECRET_KEY=SECRET_KEY_FROM_PANEL

### OPTIONAL ###
# SNI_VERIFICATION=false
# Report connected clients to the panel as "users online" (estimate, see below)
# REPORT_SESSIONS_AS_ONLINE=false
# What one online user counts: ips = distinct client addresses, sessions = open connections
# ONLINE_SOURCE=ips
# NETWORK_INTERFACE=eth0
# NETWORK_POLL_INTERVAL_MS=3000

### HAPROXY (defaults suit the bundled image) ###
# HAPROXY_BIN=/usr/sbin/haproxy
# HAPROXY_CONFIG_PATH=/etc/haproxy/haproxy.cfg
# HAPROXY_RUNTIME_DIR=/var/run/haproxy
